In [200]:
# importing all the requaired libraries.
import selenium
import pandas as pd
import time
import requests
import re
from bs4 import BeautifulSoup
from selenium import webdriver
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException

1. Scrape the details of most viewed videos on YouTube from Wikipedia:
Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos/ You need to find following details:
A) Rank
B) Name
C) Artist
D) Upload date E) Views

In [2]:
# opening webdriver
driver=webdriver.Chrome(r"//Users/prajwalkunder/Downloads/chromedriver")

In [3]:
# opening wikipedia
driver.get(' https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos/')

In [40]:
#clicking element.
driver.find_element_by_xpath('/html/body/div[3]/div[3]/div[5]/div[1]/table/tbody/tr/td/span/a/i').click()

In [41]:
# clicking elements
driver.find_element_by_xpath('/html/body/div[3]/div[3]/div[4]/div[3]/ul/li[1]/div[1]').click()

In [4]:
# Creating empty list
Rank=[]
Name=[]
Artist=[]
Upload_date=[]
Views=[]

In [9]:
#writing for loop for Rank.
dt=driver.find_elements_by_xpath('//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[1]')
for d in dt:
    if d.text is None :
        Rank.append('-')
    else:
        Rank.append(d.text)

In [10]:
#checking length
print(len(Rank))

49

In [13]:
#writing for loop for Name.
dt=driver.find_elements_by_xpath('//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[2]')
for d in dt:
    if d.text is None :
        Name.append('-')
    else:
        Name.append(d.text)

In [15]:
#checking length
print(len(Name))

49

In [26]:
#writnig for loop for Artist.
dt=driver.find_elements_by_xpath('//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[3]')
for d in dt:
    if d.text is None :
        Artist.append('-')
    else:
        Artist.append(d.text)

In [28]:
#cheking length
print(len(Artist))

196

In [21]:
#writnig for loop for Upload date.
dt=driver.find_elements_by_xpath('//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[5]')
for d in dt:
    if d.text is None :
        Upload_date.append('-')
    else:
        Upload_date.append(d.text)

In [22]:
#checking length
print(len(Upload_date))

49

In [18]:
#writing for loop for  Views.
dt=driver.find_elements_by_xpath('//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[4]')
for d in dt:
    if d.text is None :
        Views.append('-')
    else:
        Views.append(d.text)

In [19]:
#checking length
print(len(Views))

49

In [29]:
table=pd.DataFrame({})

table['Rank']=Rank[:30]
table['Name']=Name[:30]
table['Artist']=Artist[:30]
table['Upload Date']=Upload_date[:30]
table['Views']=Views[:30]

In [30]:
table

,Rank,Name,Artist,Upload Date,Views
0,1.,"""Baby Shark Dance""[22]","""Baby Shark Dance""[22]","June 17, 2016",9.06
1,2.,"""Despacito""[24]","""Despacito""[24]","January 12, 2017",7.47
2,3.,"""Johny Johny Yes Papa""[25]","""Johny Johny Yes Papa""[25]","October 8, 2016",5.60
3,4.,"""Shape of You""[26]","""Shape of You""[26]","January 30, 2017",5.40
4,5.,"""See You Again""[27]","""See You Again""[27]","April 6, 2015",5.20
5,6.,"""Masha and the Bear – Recipe for Disaster""[30]","""Masha and the Bear – Recipe for Disaster""[30]","January 31, 2012",4.45
6,7.,"""Bath Song""[31]","""Bath Song""[31]","May 2, 2018",4.39
7,8.,"""Learning Colors – Colorful Eggs on a Farm""[32]","""Learning Colors – Colorful Eggs on a Farm""[32]","February 27, 2018",4.35
8,9.,"""Uptown Funk""[33]","""Uptown Funk""[33]","November 19, 2014",4.25
9,10.,"""Gangnam Style""[34]","""Gangnam Style""[34]","July 15, 2012",4.14
10,11.,"""Phonics Song with Two Words""[36]","""Phonics Song with Two Words""[36]","March 6, 2014",4.04
11,12.,"""Sugar""[37]","""Sugar""[37]","January 14, 2015",3.52
12,13.,"""Dame Tu Cosita""[38]","""Dame Tu Cosita""[38]","April 5, 2018",3.49
13,14.,"""Sorry""[39]","""Sorry""[39]","October 22, 2015",3.45
14,15.,"""Roar""[40]","""Roar""[40]","September 5, 2013",3.40
15,16.,"""Counting Stars""[41]","""Counting Stars""[41]","May 31, 2013",3.35
16,17.,"""Thinking Out Loud""[42]","""Thinking Out Loud""[42]","October 7, 2014",3.30
17,18.,"""Wheels on the Bus""[43]","""Wheels on the Bus""[43]","May 24, 2018",3.20
18,19.,"""Dark Horse""[44]","""Dark Horse""[44]","February 20, 2014",3.11
19,20.,"""Faded""[45]","""Faded""[45]","December 3, 2015",3.11
20,21.,"""Girls Like You""[46]","""Girls Like You""[46]","May 31, 2018",3.08
21,22.,"""Shake It Off""[47]","""Shake It Off""[47]","August 18, 2014",3.08
22,23.,"""Lean On""[48]","""Lean On""[48]","March 22, 2015",3.07
23,24.,"""Bailando""[49]","""Bailando""[49]","April 11, 2014",3.07
24,25.,"""Let Her Go""[50]","""Let Her Go""[50]","July 25, 2012",3.04
25,26.,"""Mi Gente""[51]","""Mi Gente""[51]","June 29, 2017",2.95
26,27.,"""Perfect""[52]","""Perfect""[52]","November 9, 2017",2.91
27,28.,"""Axel F""[53]","""Axel F""[53]","June 16, 2009",2.91
28,29.,"""Waka Waka (This Time for Africa)""[54]","""Waka Waka (This Time for Africa)""[54]","June 4, 2010",2.90
29,30.,"""Hello""[55]","""Hello""[55]","October 22, 2015",2.86

2. Scrape the details team India’s international fixtures from bcci.tv. Url = https://www.bcci.tv/.
You need to find following details:
A) Match title (I.e. 1st ODI)
B) Series
C) Place
D) Date
E) Time
Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [110]:
# opening webdriver
driver=webdriver.Chrome(r"//Users/prajwalkunder/Downloads/chromedriver")

In [111]:
# opening website www.bcci.tv
driver.get('https://www.bcci.tv/')

In [117]:
#getting international fixture
driver.find_element_by_xpath('//div[@class="navigation__drop-down drop-down drop-down--reveal-on-hover"]').click()

In [118]:
#getting fixtures
driver.find_element_by_xpath('/html/body/footer/div/nav/ul/li[2]/ul/li[1]').click()

In [119]:
#extracting month data
month=[]
try:
    Month=driver.find_elements_by_xpath('//h3[@class="event-list__date js-date"]')
    for i in Month:
        month.append(i.text)
except NoSuchElementException:
    month.append('-')

In [121]:
# extracting match title data
macth_title=[]
try:
    title=driver.find_elements_by_xpath('//span[@class="u-unskewed-text fixture__tournament-label u-truncated"]')
    for i in title:
        match_title.append(i.text)
except NoSuchElementException:
    match_title.append('-')

In [123]:
#extracting series data
Series=[]
try:
    series=driver.find_elements_by_xpath('//strong[@class="fixture__name fixture__name--with-margin"]')
    for i in series:
        Series.append(i.text)
except NoSuchElementException:
    Series.append('-')

In [125]:
#extracting place data
Place=[]
try:
    place=driver.find_elements_by_xpath('//p[@class="fixture__additional-info"]/span')
    for i in place:
        Place.append(i.text)
except NoSuchElementException:
    Place.append('-')

In [129]:
#extracting date data
Date=[]
try:
    date=driver.find_elements_by_xpath('//span[@class="fixture__date"]')
    for i in date:
        Date.append(i.text)
except NoSuchElementException:
    Date.append('-')

In [131]:
#extracting time data
Time=[]
try:
    time=driver.find_elements_by_xpath('//span[@class="fixture__time"]')
    for i in time:
        Time.append(i.text)
except NoSuchElementException:
    Time.append('-')

In [133]:
#creating dataframe
df=pd.DataFrame({})

df['Match Title']=match_title
df['Series']=Series
df['Place']=Place
df['Date']=Date
df['Time']=Time

In [134]:
df

            Match Title    Series                     Place Date       Time
0  ENGLAND V INDIA 2021  1st Test  Trent Bridge, Nottingham   04  15:30 IST
1  ENGLAND V INDIA 2021  2nd Test            Lord's, London   12  15:30 IST
2  ENGLAND V INDIA 2021  3rd Test         Headingley, Leeds   25  15:30 IST
3  ENGLAND V INDIA 2021  4th Test          The Oval, London   02  15:30 IST
4  ENGLAND V INDIA 2021  5th Test  Old Trafford, Manchester   10  15:30 IST

3. Scrape the details of selenium exception from guru99.com. Url = https://www.guru99.com/
   You need to find following details:
   A) Name
   B) Description
   Note: - From guru99 home page you have to reach to selenium exception handling page through code.

In [31]:
#getting web https://www.guru99.com/.
driver.get('https://www.guru99.com/')

In [32]:
#getting web element and clicking.
driver.find_element_by_xpath('//a[@title="Selenium"]').click()

In [33]:
#getting web element and clicking.
driver.find_element_by_xpath('//a[@title="Selenium Exception Handling (Common Exceptions List)"]').click()

In [34]:
#Creating empty list.
Name=[]
Description=[]

In [35]:
#Creating for loop for Name to scrape data.
dt=driver.find_elements_by_xpath('//table[@class="table table-striped"]/tbody/tr/td[1]')
for d in dt:
    Name.append(d.text)

In [37]:
#Creating for loop for Description to scrape data.
dt=driver.find_elements_by_xpath('//table[@class="table table-striped"]/tbody/tr/td[2]')
for d in dt:
    Description.append(d.text)

In [43]:
#Creating dataframe
df=pd.DataFrame({})

df['Name']=Name[:41]
df['Description']=Description[:41]

In [44]:
df

,Name,Description
0,Exception name,Description
1,ElementNotVisibleException,This type of Selenium exception occurs when an...
2,ElementNotSelectableException,This Selenium exception occurs when an element...
3,NoSuchElementException,This Exception occurs if an element could not ...
4,NoSuchFrameException,This Exception occurs if the frame target to b...
5,NoAlertPresentException,This Exception occurs when you switch to no pr...
6,NoSuchWindowException,This Exception occurs if the window target to ...
7,StaleElementReferenceException,This Selenium exception occurs happens when th...
8,SessionNotFoundException,The WebDriver is acting after you quit the bro...
9,TimeoutException,Thrown when there is not enough time for a com...
10,WebDriverException,This Exception takes place when the WebDriver ...
11,ConnectionClosedException,This type of Exception takes place when there ...
12,ElementClickInterceptedException,The command may not be completed as the elemen...
13,ElementNotInteractableException,This Selenium exception is thrown when any ele...
14,ErrorInResponseException,This happens while interacting with the Firefo...
15,ErrorHandler.UnknownServerException,Exception is used as a placeholder in case if ...
16,ImeActivationFailedException,This expectation will occur when IME engine ac...
17,ImeNotAvailableException,It takes place when IME support is unavailable.
18,InsecureCertificateException,Navigation made the user agent to hit a certif...
19,InvalidArgumentException,It occurs when an argument does not belong to ...
20,InvalidCookieDomainException,This happens when you try to add a cookie unde...
21,InvalidCoordinatesException,This type of Exception matches an interacting ...
22,InvalidElementStateExceptio,It occurs when command can't be finished when ...
23,InvalidSessionIdException,This Exception took place when the given sessi...
24,InvalidSwitchToTargetException,This occurs when the frame or window target to...
25,JavascriptException,This issue occurs while executing JavaScript g...
26,JsonException,It occurs when you afford to get the session w...
27,NoSuchAttributeException,This kind of Exception occurs when the attribu...
28,MoveTargetOutOfBoundsException,It takes place if the target provided to the A...
29,NoSuchContextException,ContextAware does mobile device testing.
30,NoSuchCookieException,This Exception occurs when no cookie matching ...
31,NotFoundException,This Exception is a subclass of WebDriverExcep...
32,RemoteDriverServerException,This Selenium exception is thrown when the ser...
33,ScreenshotException,It is not possible to capture a screen.
34,SessionNotCreatedException,It happens when a new session could not be suc...
35,UnableToSetCookieException,This occurs if a driver is unable to set a coo...
36,UnexpectedTagNameException,Happens if a support class did not get a web e...
37,UnhandledAlertException,This expectation occurs when there is an alert...
38,UnexpectedAlertPresentException,It occurs when there is the appearance of an u...
39,UnknownMethodException,This Exception happens when the requested comm...
40,UnreachableBrowserException,This Exception occurs only when the browser is...

4. Scrape the details of State-wise GDP of India from statisticstime.com. Url =              http://statisticstimes.com/
   You have to find following details:
   A) Rank
   B) State
   C) GSDP at current price (19-20)
   D) GSDP at current price (18-19)
   E) Share(18-19)
   F) GDP($ billion)
   Note: - From statisticstimes home page you have to reach to economy page through code.

In [143]:
#opening website
driver.get('http://statisticstimes.com/')

In [147]:
# selecting heading of econamy
economy=driver.find_element_by_xpath('//*[@id="top"]/div[2]/div[2]/button')
economy.click()

In [148]:
#Getting subtitle india
india=driver.find_element_by_xpath('//*[@id="top"]/div[2]/div[2]/div/a[3]')
url=india.get_attribute('href')
url

'http://statisticstimes.com/economy/india-statistics.php'

In [149]:
#getting url for India
driver.get(url)

In [151]:
#getting India state GDP url
GDP=driver.find_element_by_xpath('/html/body/div[2]/div[2]/div[2]/ul/li[1]/a')
India_GDP=GDP.get_attribute('href')
India_GDP

'http://statisticstimes.com/economy/india/indian-states-gdp.php'

In [152]:
# getting url of India_GDP url
driver.get(India_GDP)

In [154]:
#extracting rank data
Rank=[]
try:
    rank=driver.find_elements_by_xpath("//div[@id='table_id_wrapper']/table/tbody/tr/td[1]")
    for i in rank:
        Rank.append(i.text)
except NoSuchElementException:
    Rank.append('-')

In [166]:
#extracting state data
State=[]
try:
    state=driver.find_elements_by_xpath("//div[@id='table_id_wrapper']/table/tbody/tr/td[2]")
    for i in state:
        State.append(i.text)
except NoSuchElementException:
    State.append('-')

In [167]:
#extracting GDP (19-20) current price data
GSDP_price=[]
try:
    gsdp=driver.find_elements_by_xpath("//div[@id='table_id_wrapper']/table/tbody/tr/td[3]")
    for i in gsdp:
        GSDP_price.append(i.text)
except NoSuchElementException:
    GSDP_price.append('-')

In [168]:
#extracting GDP current price(18-19) data
GSDP_price18=[]
try:
    gsdp=driver.find_elements_by_xpath("//div[@id='table_id_wrapper']/table/tbody/tr/td[4]")
    for i in gsdp:
        GSDP_price18.append(i.text)
except NoSuchElementException:
    GSDP_price18.append('-')

In [164]:
#extracting share price(18-19) data
Share=[]
try:
    share=driver.find_elements_by_xpath("//div[@id='table_id_wrapper']/table/tbody/tr/td[5]")
    for i in share:
        Share.append(i.text)
except NoSuchElementException:
    Share.append('-')

In [165]:
#extracting GDP billion data
GDP_billion=[]
try:
    billion=driver.find_elements_by_xpath("//div[@id='table_id_wrapper']/table/tbody/tr/td[5]")
    for i in billion:
        GDP_billion.append(i.text)
except NoSuchElementException:
    GDP_billion.append('-')

In [169]:
# creating data frame
df=pd.DataFrame({})

df['Rank']=Rank
df['State']=State
df['GSDP Current Price(19-20)']=GSDP_price
df['GSDP Current Price(18-19)']=GSDP_price18
df['Share(18-19)']=Share
df['GDP($ Billion)']=GDP_billion

In [170]:
df

,Rank,State,GSDP Current Price(19-20),GSDP Current Price(18-19),Share(18-19),GDP($ Billion)
0,1,Maharashtra,-,"2,632,792",13.94%,13.94%
1,2,Tamil Nadu,"1,845,853","1,630,208",8.63%,8.63%
2,3,Uttar Pradesh,"1,687,818","1,584,764",8.39%,8.39%
3,4,Gujarat,-,"1,502,899",7.96%,7.96%
4,5,Karnataka,"1,631,977","1,493,127",7.91%,7.91%
5,6,West Bengal,"1,253,832","1,089,898",5.77%,5.77%
6,7,Rajasthan,"1,020,989","942,586",4.99%,4.99%
7,8,Andhra Pradesh,"972,782","862,957",4.57%,4.57%
8,9,Telangana,"969,604","861,031",4.56%,4.56%
9,10,Madhya Pradesh,"906,672","809,592",4.29%,4.29%
10,11,Kerala,-,"781,653",4.14%,4.14%
11,12,Delhi,"856,112","774,870",4.10%,4.10%
12,13,Haryana,"831,610","734,163",3.89%,3.89%
13,14,Bihar,"611,804","530,363",2.81%,2.81%
14,15,Punjab,"574,760","526,376",2.79%,2.79%
15,16,Odisha,"521,275","487,805",2.58%,2.58%
16,17,Assam,-,"315,881",1.67%,1.67%
17,18,Chhattisgarh,"329,180","304,063",1.61%,1.61%
18,19,Jharkhand,"328,598","297,204",1.57%,1.57%
19,20,Uttarakhand,-,"245,895",1.30%,1.30%
20,21,Jammu & Kashmir,-,"155,956",0.83%,0.83%
21,22,Himachal Pradesh,"165,472","153,845",0.81%,0.81%
22,23,Goa,"80,449","73,170",0.39%,0.39%
23,24,Tripura,"55,984","49,845",0.26%,0.26%
24,25,Chandigarh,-,"42,114",0.22%,0.22%
25,26,Puducherry,"38,253","34,433",0.18%,0.18%
26,27,Meghalaya,"36,572","33,481",0.18%,0.18%
27,28,Sikkim,"32,496","28,723",0.15%,0.15%
28,29,Manipur,"31,790","27,870",0.15%,0.15%
29,30,Nagaland,-,"27,283",0.14%,0.14%
30,31,Arunachal Pradesh,-,"24,603",0.13%,0.13%
31,32,Mizoram,"26,503","22,287",0.12%,0.12%
32,33,Andaman & Nicobar Islands,-,-,-,-

5. Scrape the details of trending repositories on Github.com. Url = https://github.com/
You have to find the following details:
A) Repository title
B) Repository description C) Contributors count
D) Language used
Note: - From the home page you have to click on the trending option from Explore menu through code.

In [212]:
#getting url
driver.get('https://github.com/')

In [213]:
#selecting explore button
driver.find_element_by_xpath('/html/body/div[1]/header/div/div[2]/nav/ul/li[4]/details').click()

In [214]:
# selecting trend button
driver.find_element_by_xpath('/html/body/div[1]/header/div/div[2]/nav/ul/li[4]/details/div/ul[2]/li[3]').click()

In [178]:
#extacting title data
title=[]
try:
    repositories=driver.find_elements_by_xpath('//h1[@class="h3 lh-condensed"]/a')
    for i in repositories:
        title.append(i.text)
except NoSuchElementException:
    title.append('-')

In [197]:
title

['commaai / openpilot',
 'Azure / azure-sdk-for-net',
 'bytedance / Fastbot_iOS',
 'clouDr-f2e / rubick',
 'MoienTajik / AspNetCore-Developer-Roadmap',
 'microsoft / ML-For-Beginners',
 'apache / pinot',
 'SigmaHQ / sigma',
 'ibraheemdev / modern-unix',
 'klezVirus / inceptor',
 '0x727 / SqlKnife_0x727',
 'mytechnotalent / Reverse-Engineering',
 'sysprog21 / lkmpg',
 'microsoft / PowerToys',
 'RasaHQ / rasa',
 'geekxh / hello-algorithm',
 'terraform-aws-modules / terraform-aws-eks',
 'riscv2os / riscv2os',
 '0x727 / ShuiZe_0x727',
 'ryanmcdermott / clean-code-javascript',
 'vlang / v',
 'MunGell / awesome-for-beginners',
 'doocs / jvm',
 'JetBrains / compose-jb',
 'eugenp / tutorials']

In [184]:
#extacting description data
description=[]
try:
    repositories=driver.find_elements_by_xpath('//p[@class="col-9 color-text-secondary my-1 pr-4"]')
    for i in repositories:
        description.append(i.text)
except NoSuchElementException:
    description.append('-')

In [198]:
description

['openpilot is an open source driver assistance system. openpilot performs the functions of Automated Lane Centering and Adaptive Cruise Control for over 100 supported car makes and models.',
 'This repository is for active development of the Azure SDK for .NET. For consumers of the SDK we recommend visiting our public developer docs at https://docs.microsoft.com/en-us/dotnet/azure/ or our versioned developer docs at https://azure.github.io/azure-sdk-for-net.',
 'About Fastbot(2.0) is a model-based testing tool for modeling GUI transitions to discover app stability problems',
 '🔧 基于 electron 的开源工具箱，自由集成丰富插件。',
 'Roadmap to becoming an ASP.NET Core developer in 2021',
 '12 weeks, 25 lessons, 50 quizzes, classic Machine Learning for all',
 'Apache Pinot (Incubating) - A realtime distributed OLAP datastore',
 'Generic Signature Format for SIEM Systems',
 'A collection of modern/faster/saner alternatives to common unix commands.',
 'Template-Driven AV/EDR Evasion Framework',
 '适合在命令行中使用的轻巧的SQL Server数据库安全检测工具',
 'A FREE comprehensive reverse engineering course covering x86, x64, 32-bit ARM & 64-bit ARM architectures.',
 'The Linux Kernel Module Programming Guide (updated for 5.x kernels)',
 'Windows system utilities to maximize productivity',
 '💬 Open source machine learning framework to automate text- and voice-based conversations: NLU, dialogue management, connect to Slack, Facebook, and more - Create chatbots and voice assistants',
 '🌍 针对小白的算法训练 | 包括四部分：①.算法基础 ②.力扣图解 ③.大厂面经 ④.CS_汇总 | 附：1、千本开源电子书 2、百张技术思维导图（项目花了上百小时，希望可以点 star 支持，🌹感谢~）',
 'Terraform module to create an Elastic Kubernetes (EKS) cluster and associated worker instances on AWS',
 '從 RISC-V 處理器到 UNIX 作業系統',
 '信息收集自动化工具',
 '🛁 Clean Code concepts adapted for JavaScript',
 'Simple, fast, safe, compiled language for developing maintainable software. Compiles itself in <1s with zero library dependencies. https://vlang.io',
 'A list of awesome beginners-friendly projects.',
 '🤗 JVM 底层原理最全知识总结',
 'Jetpack Compose for Desktop and Web, a modern UI framework for Kotlin that makes building performant and beautiful user interfaces easy and enjoyable.',
 'Just Announced - "Learn Spring Security OAuth":']

In [187]:
#extacting url data
url=[]
try:
    contributors=driver.find_elements_by_xpath('//h1[@class="h3 lh-condensed"]/a')
    for i in contributors:
        url.append(i.get_attribute('href'))
except NoSuchElementException:
    url.append('-')

In [199]:
url

['https://github.com/commaai/openpilot',
 'https://github.com/Azure/azure-sdk-for-net',
 'https://github.com/bytedance/Fastbot_iOS',
 'https://github.com/clouDr-f2e/rubick',
 'https://github.com/MoienTajik/AspNetCore-Developer-Roadmap',
 'https://github.com/microsoft/ML-For-Beginners',
 'https://github.com/apache/pinot',
 'https://github.com/SigmaHQ/sigma',
 'https://github.com/ibraheemdev/modern-unix',
 'https://github.com/klezVirus/inceptor',
 'https://github.com/0x727/SqlKnife_0x727',
 'https://github.com/mytechnotalent/Reverse-Engineering',
 'https://github.com/sysprog21/lkmpg',
 'https://github.com/microsoft/PowerToys',
 'https://github.com/RasaHQ/rasa',
 'https://github.com/geekxh/hello-algorithm',
 'https://github.com/terraform-aws-modules/terraform-aws-eks',
 'https://github.com/riscv2os/riscv2os',
 'https://github.com/0x727/ShuiZe_0x727',
 'https://github.com/ryanmcdermott/clean-code-javascript',
 'https://github.com/vlang/v',
 'https://github.com/MunGell/awesome-for-beginners',
 'https://github.com/doocs/jvm',
 'https://github.com/JetBrains/compose-jb',
 'https://github.com/eugenp/tutorials']

In [221]:
#extacting count data
count=[]
for i in url:
    driver.get(i)
    time.sleep(2)
    try:
        contributors=driver.find_elements_by_xpath('//*[@id="repo-content-pjax-container"]/div/div[2]/div[2]/div/div[4]/div/h2/a/span')
        for i in contributors:
            count.append(i.text)
    except NoSuchElementException:
        count.append('-')
count

['210', '4.2k', '19', '9', '14', '197', '6', '', '', '', '', '51']

In [216]:
#extacting language data
language=[]
try:
    used=driver.find_elements_by_xpath('//span[@class="d-inline-block ml-0 mr-3"]')
    for i in used:
        language.append(i.text)
except NoSuchElementException:
    language.append('-')
language

['C++',
 'C#',
 'Objective-C',
 'JavaScript',
 'Jupyter Notebook',
 'Java',
 'Python',
 'Assembly',
 'C++',
 'C',
 'TeX',
 'C#',
 'Python',
 'Java',
 'HCL',
 'Python',
 'JavaScript',
 'V',
 'Java',
 'Kotlin',
 'Java']

6. Scrape the details of top 100 songs on billboard.com. Url = https://www.billboard.com/
You have to find the following details:
A) Song name
B) Artist name
C) Last week rank
D) Peak rank
E) Weeks on board
Note: - From the home page you have to click on the charts option then hot 100-page link through code

In [65]:
#Getting web element https://www.billboard.com/.
driver.get('https://www.billboard.com/')

In [66]:
#clicking button
button=driver.find_elements_by_xpath('//nav[@class="header__subnav bg--light"]/ul/li[3]/a')
button[0].click()

In [67]:
#Creating empty list.
Song_name=[]
Artist_name=[]
Last_week_rank=[]
Peak_rank=[]
Weeks_on_board=[]

In [68]:
#creating for loop for song name to extract data.
dt=driver.find_elements_by_xpath('//span[@class="chart-element__information__song text--truncate color--primary"]')
for i in dt:
    if i.text is None:
        Song_name.append('-')
    else:
        Song_name.append(i.text)

In [70]:
#creating for loop for Artist name to extract data
dt=driver.find_elements_by_xpath('//span[@class="chart-element__information__artist text--truncate color--secondary"]')
for i in dt:
    if i.text is None:
        Artist_name.append('-')
    else:
        Artist_name.append(i.text)

In [72]:
#creating for loop for last_week_rank to extract data.
dt=driver.find_elements_by_xpath('//div[@class="chart-element__meta text--center color--secondary text--last"]')
for i in dt:
    if i.text is None:
        Last_week_rank.append('-')
    else:
        Last_week_rank.append(i.text)

In [73]:
#creating for loop for Peak rank to extract data
dt=driver.find_elements_by_xpath('//div[@class="chart-element__meta text--center color--secondary text--peak"]')
for i in dt:
    if i.text is None:
        Peak_rank.append('-')
    else:
        Peak_rank.append(i.text)

In [74]:
#creating for loop for week on board to extract data.
dt=driver.find_elements_by_xpath('//div[@class="chart-element__meta text--center color--secondary text--week"]')
for i in dt:
    if i.text is None:
        Weeks_on_board.append('-')
    else:
        Weeks_on_board.append(i.text)

In [75]:
#creating data frame 
df=pd.DataFrame({})

df['Song Name']=Song_name
df['Artist Name']=Artist_name
df['Last Week Rank']=Last_week_rank
df['Peak Rank']=Peak_rank
df['Weeks On Board']=Weeks_on_board

In [76]:
df

,Song Name,Artist Name,Last Week Rank,Peak Rank,Weeks On Board
0,Butter,BTS,1,1,10
1,Industry Baby,Lil Nas X & Jack Harlow,-,2,1
2,Good 4 U,Olivia Rodrigo,2,1,11
3,Stay,The Kid LAROI & Justin Bieber,4,3,3
4,Levitating,Dua Lipa Featuring DaBaby,3,2,43
...,...,...,...,...,...
95,Minimum Wage,Blake Shelton,83,67,12
96,Working,Tate McRae X Khalid,-,88,5
97,Holy Smokes,Trippie Redd Featuring Lil Uzi Vert,50,50,2
98,WUSYANAME,"Tyler, The Creator Featuring YoungBoy Never Br...",91,14,5
99,Still Chose You,The Kid LAROI Featuring Mustard,-,100,1

7. Scrape the details of Data science recruiters from naukri.com. Url = https://www.naukri.com/
You have to find the following details:
A) Name
B) Designation
C) Company
D) Skills they hire for
E) Location
Note: - From naukri.com homepage click on the recruiters option and the on the search pane type Data science and click on search. All this should be done through code

In [77]:
#getting website url https://www.naukri.com/
driver.get('https://www.naukri.com/')

In [78]:
#clicking button
button=driver.find_elements_by_xpath('//ul[@class="midSec menu"]/li[2]')
button[0].click()

In [82]:
# switching tab in web driver
driver.switch_to.window(driver.window_handles[1])

In [86]:
# sending Data science in search bar
search_job=driver.find_element_by_xpath("//input[@class='sugInp']")
search_job.send_keys('Data Science')

In [88]:
# clicking search button
search_btn=driver.find_element_by_xpath("//button[@class='fl qsbSrch blueBtn']")
search_btn.click()

In [89]:
#creating empty list
name=[]
designation=[]
company=[]
skills_required=[]
location=[]

In [91]:
#writing for loop to 120 page
for page in range(0,120):

#writing for loop for name data
    dt=driver.find_elements_by_xpath('//span[@class="fl ellipsis"]')
    for i in dt:
        if i.text is None:
            name.append('-')
        else:
            name.append(i.text)
        
#writing for loop for designation data
    dt=driver.find_elements_by_xpath('//span[@class="ellipsis clr"]')
    for i in dt:
        if i.text is None:
            designation.append('-')
        else:
            designation.append(i.text)

#writing for loop for company data       
    dt=driver.find_elements_by_xpath('//p[@class="highlightable"]/a[2]')
    for i in dt:
        if i.text is None:
            company.append('-')
        else:
            company.append(i.text)
            
#writing for loop for skill data
    dt=driver.find_elements_by_xpath('//div[@class="hireSec highlightable"]')
    for i in dt:
        if i.text is None:
            skills_required.append('-')
        else:
            skills_required.append(i.text)
            
#writing for loop for location data            
    dt=driver.find_elements_by_xpath('//small[@class="ellipsis"]')
    for i in dt:
        if i.text is None:
            location.append('-')
        else:
            location.append(i.text)

In [96]:
#checking length
print(len(name),len(designation),len(company),len(skills_required),len(location))

9400 9400 9400 9400 9004

In [98]:
#creating data frame
df=pd.DataFrame({})

df['Name']=name[:9000]
df['Designation']=designation[:9000]
df['Company']=company[:9000]
df['Location']=location[:9000]
df['Skills they hire for']=skills_required[:9000]

In [99]:
df

,Name,Designation,Company,Location,Skills they hire for
0,Aakash Harit,HR Manager,Data Science Network,Delhi,"Classic ASP Developer, Internet Marketing Prof..."
1,shravan Kumar Gaddam,Company Recruiter,Shore Infotech India Pvt. Ltd,Hyderabad / Secunderabad,".Net, Java, Data Science, Linux Administration..."
2,MARSIAN Technologies LLP,Company HR,MARSIAN Technologies LLP,Pune,"Data Science, Artificial Intelligence, Machine..."
3,Anik Agrawal,Company Recruiter,Enerlytics Software Solutions Pvt Ltd,Ahmedabad,"Mean Stack, javascript, angularjs, mongodb, We..."
4,subhas patel,Founder CEO,LibraryXProject,UK - (london),"Hadoop, Spark, Digital Strategy, Data Architec..."
...,...,...,...,...,...
8995,Ashwini,Director Global Delivery,MRP Advisers,Pune,"Data Science, Media Marketing, Resource Planni..."
8996,Balaji Kolli,Co Founder,Saras Solutions India Pvt Ltd,Bengaluru / Bangalore,"Data Analysis, Learning, Data Science, Compute..."
8997,Rajani Nagaraj,HR Manager,WildJasmine,Mumbai,"Java, Hadoop, R, Machine Learning, Spark, Flum..."
8998,ROHIT Kumar,Architect,LNT Private Limited,Indore,"Software Development, Core Java, Unit Testing,..."
8999,Amir Chowdhury,Managing Partner,Granular.ai,Bengaluru / Bangalore,"Machine Learning, Data Science, Product Manage..."

8. Scrape the details of Highest selling novels.
Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey- compare/
You have to find the following details:
A) Book name
B) Author name
C) Volumes sold
D) Publisher
E) Genre

In [185]:
#getting url
driver.get('https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare')

In [186]:
#creating empty list
book_name=[]
author_name=[]
volumes_sold=[]
publisher=[]
genre=[]

In [187]:
#creating for loop to extract book name data
dt=driver.find_elements_by_xpath('//table[@class="in-article sortable"]/tbody/tr/td[2]')
for i in dt:
    if i.text is None:
        book_name.append('-')
    else:
        book_name.append(i.text)

In [191]:
#creating for loop to extract author name data
dt=driver.find_elements_by_xpath('//table[@class="in-article sortable"]/tbody/tr/td[3]')
for i in dt:
    if i.text is None:
        author_name.append('-')
    else:
        author_name.append(i.text)

In [194]:
#creating for loop to extract volums sold data.
dt=driver.find_elements_by_xpath('//table[@class="in-article sortable"]/tbody/tr/td[4]')
for i in dt:
    if i.text is None:
        volumes_sold.append('-')
    else:
        volumes_sold.append(i.text)

In [197]:
#creating for loop to extract publisher data
dt=driver.find_elements_by_xpath('//table[@class="in-article sortable"]/tbody/tr/td[5]')
for i in dt:
    if i.text is None:
        publisher.append('-')
    else:
        publisher.append(i.text)

In [199]:
#creating for loop to extract genre
dt=driver.find_elements_by_xpath('//table[@class="in-article sortable"]/tbody/tr/td[6]')
for i in dt:
    if i.text is None:
        genre.append('-')
    else:
        genre.append(i.text)

In [200]:
#checking lenght of data 
print(len(book_name),len(author_name),len(volumes_sold),len(publisher),len(genre))

100 100 100 100 100

In [201]:
#creating dataframe
df=pd.DataFrame({})

df['Book Name']=book_name
df['Author Nmae']=author_name
df['Volumes Sold']=volumes_sold
df['Publisher']=publisher
df['Genre']=genre

In [202]:
df

,Book Name,Author Nmae,Volumes Sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

9. Scrape the details most watched tv series of all time from imdb.com. Url = https://www.imdb.com/list/ls095964455/
You have to find the following details: A) Name
B) Year span
C) Genre
D) Run time E) Ratings F) Votes

In [101]:
#Getting website https://www.imdb.com/list/ls095964455/.
driver.get('https://www.imdb.com/list/ls095964455/')

In [119]:
#creating empty list
name=[]
year_span=[]
genre=[]
run_time=[]
ratings=[]
votes=[]

In [123]:
#creating for loop to extract name data.
dt=driver.find_elements_by_xpath('//h3[@class="lister-item-header"]/a')
for i in dt:
    if i.text is None:
        name.append('-')
    else:
        name.append(i.text)

In [133]:
#creating for loop to extract year name data.
dt=driver.find_elements_by_xpath('//span[@class="lister-item-year text-muted unbold"]')
for i in dt:
    if i.text is None:
        year_span.append('-')
    else:
        year_span.append(i.text)

In [134]:
#creating for loop to extract gener data.
dt=driver.find_elements_by_xpath('//span[@class="genre"]')
for i in dt:
    if i.text is None:
        genre.append('-')
    else:
        genre.append(i.text)

In [135]:
#creating for loop to extract run time data.
dt=driver.find_elements_by_xpath('//span[@class="runtime"]')
for i in dt:
    if i.text is None:
        run_time.append('-')
    else:
        run_time.append(i.text)

In [144]:
#creating for loop to extract rating data
dt=driver.find_elements_by_xpath('//div[@class="ipl-rating-star small"]/span[2]')
for i in dt:
    if i.text is None:
        ratings.append('-')
    else:
        ratings.append(i.text)

In [136]:
#creating for loop to extract votes data
dt=driver.find_elements_by_xpath('//span[@name="nv"]')
for i in dt:
    if i.text is None:
        votes.append('-')
    else:
        votes.append(i.text)

In [146]:
#checking length.
print(len(name),len(year_span),len(genre),len(run_time),len(votes),len(ratings))

100 100 200 100 100 100

In [148]:
#creating data frame 
df=pd.DataFrame({})

df['Name']=name[:100]
df['Year Span']=year_span[:100]
df['Genre']=genre[:100]
df['Run Time']=run_time[:100]
df['Votes']=votes[:100]
df['Rating']=ratings[:100]

In [149]:
df

,Name,Year Span,Genre,Run Time,Votes,Rating
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,"1,848,399",9.2
1,Stranger Things,(2016– ),"Drama, Fantasy, Horror",51 min,"885,910",8.7
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,"885,834",8.2
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,"266,405",7.6
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,"226,968",7.6
...,...,...,...,...,...,...
95,Reign,(2013–2017),"Drama, Fantasy",42 min,"45,045",7.5
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,"55,754",7.8
97,Criminal Minds,(2005–2020),"Crime, Drama, Mystery",42 min,"171,811",8
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,"35,664",7.1
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,"195,125",8.6

10. Details of Datasets from UCI machine learning repositories. Url = https://archive.ics.uci.edu/
You have to find the following details:
A) Dataset name B) Data type
C) Task
D) Attribute type E) No of instances F) No of attribute G) Year
Note: - from the home page you have to go to the Show All Dataset page through code.

In [151]:
#getting url 
driver.get('https://archive.ics.uci.edu/')

In [152]:
#clicking button
dt=driver.find_element_by_xpath('//span[@class="normal"]/b')
dt.click()

In [160]:
#creating empty list
dataset_name=[]
data_type=[]
task=[]
attribute_type=[]
instances=[]
attribute=[]
year=[]

In [166]:
#creating for loop to extract dataset name
dt=driver.find_elements_by_xpath('//table[@border="1"]/tbody/tr/td[1]/table/tbody/tr/td[2]/p/b')
for i in dt:
    if i.text is None:
        dataset_name.append('-')
    else:
        dataset_name.append(i.text)

In [167]:
#creating for loop to extrct data type 
dt=driver.find_elements_by_xpath('//table[@border="1"]/tbody/tr/td[2]')
for i in dt:
    if i.text is None:
        data_type.append
    else:
        data_type.append(i.text)

In [169]:
#creating for loop to extract task data.
dt=driver.find_elements_by_xpath('//table[@border="1"]/tbody/tr/td[4]')
for i in dt:
    if i.text is None:
        task.append('-')
    else:
        task.append(i.text)

In [161]:
#creating for loop to extract attribute type data
dt=driver.find_elements_by_xpath('//table[@border="1"]/tbody/tr/td[4]')
for i in dt:
    if i.text is None:
        attribute_type.append('-')
    else:
        attribute_type.append(i.text)

In [162]:
#creating for loop to extract instances data
dt=driver.find_elements_by_xpath('//table[@border="1"]/tbody/tr/td[5]')
for i in dt:
    if i.text is None:
        instances.append('-')
    else:
        instances.append(i.text)

In [163]:
#creating for loop to extract attribute data
df=driver.find_elements_by_xpath('//table[@border="1"]/tbody/tr/td[6]')
for i in dt:
    if i.text is None:
        attribute.append('-')
    else:
        attribute.append(i.text)

In [164]:
#creating for loop to extract year data
dt=driver.find_elements_by_xpath('//table[@border="1"]/tbody/tr/td[7]')
for i in dt:
    if i.text is None:
        year.append('-')
    else:
        year.append(i.text)

In [170]:
#checking length.
print(len(dataset_name),len(data_type),len(task),len(attribute),len(instances),len(attribute),len(year))

588 589 589 589 589 589 589

In [173]:
#creating dataset
df=pd.DataFrame({})

df['Dataset Name']=dataset_name[:588]
df['Data Type']=data_type[:588]
df['Task']=task[:588]
df['Attribute Type']=attribute_type[:588]
df['Instances']=instances[:588]
df['Attribute']=attribute[:588]
df['Year']=year[:588]

In [174]:
df

,Dataset Name,Data Type,Task,Attribute Type,Instances,Attribute,Year
0,Abalone,Data Types,Attribute Types,Attribute Types,# Instances,# Instances,Year
1,Adult,Multivariate,"Categorical, Integer, Real","Categorical, Integer, Real",4177,4177,1995
2,Annealing,Multivariate,"Categorical, Integer","Categorical, Integer",48842,48842,1996
3,Anonymous Microsoft Web Data,Multivariate,"Categorical, Integer, Real","Categorical, Integer, Real",798,798,
4,Arrhythmia,,Categorical,Categorical,37711,37711,1998
...,...,...,...,...,...,...,...
583,in-vehicle coupon recommendation,Multivariate,"Integer, Real","Integer, Real",13611,13611,2020
584,Gait Classification,Multivariate,,,12684,12684,2020
585,Wikipedia Math Essentials,Multivariate,Real,Real,48,48,2020
586,Wikipedia Math Essentials,Time-Series,Real,Real,731,731,2021
587,Synchronous Machine Data Set,Time-Series,Real,Real,731,731,2021